
.par-2 {
    background-color: #0066ff;
}

.par-1 {
    background-color: #00ff00;
}

.par0 {
    background-color: #009933;
}

.par1 {
    background-color: #ffff00;
}

.par2 {
    background-color: #ff9933;
}

.par3 {
    background-color: #ff0000;
}

.par4 {
    background-color: #cc0099;
}

.par5 {
    background-color: #ff33cc;
}

