.game_input {
    /*display: block;*/
    -webkit-appearance: none; -moz-appearance: none;
    line-height: 40px; font-size: 17px;
    border: 1px solid #bbb;
    margin: 5px;
    width: 7em; height: 60px;
}

.error_message {
    color: #ff0000;
}

.par-3 {
    background-color: silver;
    color: gold;
}

.par-2, .cup5 {
    background-color: #0066ff;
}
.par-1, .cup3 {
    background-color: #00ff00;
}
.par0, .cup2 {
    background-color: #009933;
}
.par1, .cup1 {
    background-color: #ffff00;
}
.par2 {
    background-color: #ff9933;
}
.par3 {
    background-color: #ff0000;
}
.par4 {
    background-color: #cc0099;
}
.par5 {
    background-color: #ff99bb;
}
.par6, .par7, .par8, .par9,
.par10, .par11, .par12, .par13 {
    color: #000000;
    background-color: #000000;
}

table#results_table tr td.date_cell {
    font-size: 75%;
}

table#recent_results_table td.esko_best {
    background-color: #0066ff;
}
table#recent_results_table td.personal_best {
    background-color: #00ff00;
}
table#recent_results_table td.season_best {
    color: #ff33ff;
}
table#recent_results_table td.season_personal_best {
    color: green;
}

table#recent_results_table tr.True {
    background-color: #ffffff;
}

table#recent_results_table tr.False {
    background-color: #dddddd;
}


tbody#tbody td {
    border: 1px solid black;
    /*background-color: #000000;*/
}

.show {display:block;}

#histo_div {
    height: 100%;
}

#table_div {
    margin-top: 2em;
}

#page_body {
    margin-left: 1%;
}

#recent_results_table th,
#recent_results_table td {
    padding: 5px;
}

label.disabled {
    color: lightgray;
    text-decoration: line-through;
}



