{% extends esko_template.html %}

{% block title_block %}tulokset {{ course.name }}{% end %}

{% block head %}
  <script type="text/javascript">

    var holes = {{course.holes}};
    var show_subtables = true;

    var pars = [];
    var course_par = null;

    window.onload = function() {
      var table_head = document.getElementById('result_head');
      var row = table_head.insertRow(1);
      row.insertCell(0);
      row.insertCell(1).outerHTML = "<th>par</th>";
      row.insertCell(2).outerHTML = "<th>{{par_sum}}</th>";
      {% for hole in holes %}
        pars.push({{hole.par}});
        row.insertCell(1+{{hole.hole}}).outerHTML = "<th>{{hole.par}}</th>";
      {% end %}
      course_par = pars.reduce(function(a, b) { return a + b; }, 0);

      filter();
    }

    function mode(array) {
      if(array.length == 0)
          return null;
      var modeMap = {};
      var maxEl = array[0], maxCount = 1;
      for(var i = 0; i < array.length; i++) {
        var el = array[i];
        if(modeMap[el] == null)
            modeMap[el] = 1;
        else
            modeMap[el]++;

        if(modeMap[el] > maxCount || (modeMap[el] >= maxCount && el > maxEl)) {
            maxEl = el;
            maxCount = modeMap[el];
        }
      }
      return maxEl;
    }

    function toggle_subtables() {
      show_subtables = !show_subtables;
      var subtables = document.getElementsByClassName('subtable');
      for (var i = 0; i < subtables.length; i++) {
        subtables[i].hidden = show_subtables;
      }
    }


    function filter() {
      var date_filter = document.getElementById("date_filter").value;
      var player_filter = document.getElementById("player_filter").value.toLowerCase();
      var table = document.getElementById("tbody");
      var Nrows = 0;
      var filtered_rows = [];
      var exact_matchin = true;
      if (player_filter.endsWith(" ")) {
        exact_matchin = false;
        player_filter = player_filter.substring(0,player_filter.length-1);
      }

      // Filter
      for (var i = 0; i < table.rows.length; i++) {
        if (exact_matchin) {
          var not_filtered = (
            (table.rows[i].cells[0].innerHTML.replace(/\s+/g, '').toLowerCase().indexOf(date_filter) == 0 || date_filter == "") &&
            (table.rows[i].cells[1].innerHTML.toLowerCase() == player_filter || player_filter == ""));
        }
        else {
          var not_filtered = (
            (table.rows[i].cells[0].innerHTML.replace(/\s+/g, '').toLowerCase().indexOf(date_filter) == 0 || date_filter == "") &&
            (table.rows[i].cells[1].innerHTML.toLowerCase().indexOf(player_filter) == 0 || player_filter == ""));
        }
        if (not_filtered){
          table.rows[i].hidden = false;
          for (var hole = 1; hole <= holes; hole++) {
            if (filtered_rows[hole-1] == null) {
              filtered_rows[hole-1] = [];
            }
            var throws = parseInt(table.rows[i].cells[hole+1].innerHTML);
            if (!isNaN(throws))
              filtered_rows[hole-1].push(throws);
          }
          Nrows++;
        }
        else {
          table.rows[i].hidden = true;
        }
      }

      var avg_row = document.getElementById("avg_row");
      var min_row = document.getElementById("min_row");
      var mode_row = document.getElementById("mode_row");
      var median_row = document.getElementById("median_row");
      var avg_sum = 0;
      var mode_sum = 0;
      var median_sum = 0;
      var min_sum = 0;
      for (var hole = 1; hole <= holes; hole++) {
        filtered_rows[hole-1].sort();
        var valuesOnRow = filtered_rows[hole-1].length;
        var avg = filtered_rows[hole-1].reduce(function(a, b) { return a + b; }, 0).toFixed(2);
        avg_row.cells[hole+1].innerHTML = (avg/valuesOnRow).toFixed(2);
        avg_row.cells[hole+1].className = "par"+(Math.round(avg/valuesOnRow)-pars[hole-1]);
        avg_sum += avg/valuesOnRow;
        var median = filtered_rows[hole-1][Math.floor(filtered_rows[hole-1].length/2)];
        median_row.cells[hole+1].innerHTML = median;
        median_row.cells[hole+1].className = "par"+(median-pars[hole-1]);
        median_sum += median;
        var mod = mode(filtered_rows[hole-1]);
        mode_row.cells[hole+1].innerHTML = mod;
        mode_row.cells[hole+1].className = "par"+(mod-pars[hole-1]);
        mode_sum += mod;
        var min = Math.min(...filtered_rows[hole-1]);
        min_row.cells[hole+1].innerHTML = min;
        min_row.cells[hole+1].className = "par"+(min-pars[hole-1]);
        min_sum += min;
      }
      min_row.cells[holes+2].innerHTML = min_sum;
      min_row.cells[holes+3].innerHTML = min_sum - course_par;
      avg_row.cells[holes+2].innerHTML = avg_sum.toFixed(2);
      avg_row.cells[holes+3].innerHTML = (avg_sum - course_par).toFixed(2);
      mode_row.cells[holes+2].innerHTML = mode_sum;
      mode_row.cells[holes+3].innerHTML = mode_sum - course_par;
      median_row.cells[holes+2].innerHTML = median_sum;
      median_row.cells[holes+3].innerHTML = median_sum - course_par;
    }

    function toggle_holes_info() {
      document.getElementById('holes_info').hidden = !document.getElementById('holes_info').hidden
    }


  </script>
{% end %}

{% block body %}
  <h1>{{ course.name }}
    <a class="btn btn-info" href="#" onclick="toggle_holes_info();">Väylien tiedot</a>
    <a class="btn btn-info" href="/holes/{{course.id}}/update">Muokkaa väylien tietoja</a>
    <a class="btn btn-info" href="#" onclick="toggle_subtables();">Tarkemmat heittotiedot</a>
    <a class="btn btn-info" href="/course/{{course.id}}/graph">Tuloskuvaaja</a>
    <!-- <a class="btn btn-primary" href="/full/{{course.id}}/">Lisää koko pelin tulos</a> -->
    <!-- <a class="btn btn-info" href="/hole_statistics/{{course.id}}/1/">Histogrammi</a> -->
    <!-- <a class="btn btn-info" href="/probabilities/{{course.id}}/par/">Tuloksen todennäköisyydet</a> -->
  </h1>

  <table class="table-condensed table-bordered">
    <tr>
      <th colspan="4">Peliajat:</th>
    </tr>
    <tr>
      <th>Pelaajia</th>
      <th>min</th>
      <th>keskiarvo</th>
      <th>max</th>
    </tr>
    {% for min_time, avg_time, max_time, pool_size in game_times %}
      <tr>
        <td>{{pool_size}}</td>
        <td>{{min_time}} h</td>
        <td>{{avg_time}} h</td>
        <td>{{max_time}} h</td>
      </tr>
    {% end %}
  </table>

  <table id="holes_info" class="table table-bordered table-condensed" hidden>
    <tr>
      <th></th>
      {% for hole in holes %}
        <th>{{hole.hole}}</th>
      {% end %}
      <th>Total</th>
    </tr>
    <tr>
      <th>Pituus</th>
      {% set course_length = 0 %}
      {% for hole in holes %}
        {% set course_length = course_length + hole.length %}
        <td>{{hole.length}}</td>
      {% end %}
      <td>{{course_length}}</td>
    </tr>
    <tr>
      <th>Korkeus</th>
      {% for hole in holes %}
        <td>{{hole.height}}</td>
      {% end %}
    </tr>
    <tr>
      <th>Tyyppi</th>
      {% for hole in holes %}
        <td>{{hole.type}}</td>
      {% end %}
    </tr>
    <tr>
      <th>Maasto</th>
      {% for hole in holes %}
        <td>{{hole.hole_terrain}}</td>
      {% end %}
    </tr>
    <tr>
      <th>Kuvaus</th>
      {% for hole in holes %}
        <td>{{hole.description}}</td>
      {% end %}
    </tr>
    <tr>
      <th>OB</th>
      {% for hole in holes %}
        <td>{{hole.penalty_info()}}</td>
      {% end %}
    </tr>
  </table>

  <div id="table_div">
  <label for="date_filter">Filter date:</label>
  <input type="text" id="date_filter" oninput="filter();" value="{{selected_game_date}}">
  <label for="player_filter">Filter player:</label>
  <input type="text" id="player_filter" oninput="filter();" list="players" value="{{selected_player}}">
  <datalist id="players">
    {% for name in player_dict %}
      <option value="{{name}}">
    {% end %}
  </datalist>


    <table id="results_table" class="sortable table table-striped table-bordered table-condensed table-hover">
      <thead id="result_head">
        <tr>
          <th>Date</th>
          <th>Player</th>
          {% for hole in holes %}
            <th>{{hole.hole}}</th>
          {% end %}
          <th>Sum</th>
          <th>par</th>
        </tr>

      </thead>
      <tbody id="tbody">

      {% for row in result_table %}
        <tr>
          <td class="date_cell" title="{{game_dict[row[0].game].start_time}}">{{game_dict[row[0].game].label()}}</td>
          <td>{{player_dict[row[0].player].name}}</td>
          {% for result in row %}
              <td class="par{{(result.throws - hole_dict[result.hole].par) if result.throws else '' }}"
                  value="{{result.throws}}"
                  sorttable_customkey="{% if not result.throws %}100{% else %}{{result.throws}}{% end %}"
                  {% if result.approaches != "" or result.puts != "" %}title="{{result.approaches}}:{{result.puts}}"{% end %}>
                {{str(result.throws)+ '*'*result.penalty}}
                {% if result.approaches != "" or result.puts != "" %}
                <table class="subtable" hidden>
                  <tr><td>{{result.approaches}}</td><td>:</td><td>{{result.puts}}</td></tr>
                </table>
                {% end %}
              </td>
          {% end %}
          {% set row_sum = sum([res.throws or -100 for res in row]) %}
          <td {% if row_sum < 0 %}sorttable_customkey="100"{% end %}>{{row_sum if row_sum > 0 else ""}}</td>
          <td {% if row_sum < 0 %}sorttable_customkey="100"{% end %}>{{(row_sum - par_sum) if row_sum > 0 else "" }}</td>
        </tr>

      {% end %}

      </tbody>
      <tfoot id="footer">
        <tr id="min_row">
          <td></td>
          <td>Min:</td>
          {% for _ in range(1, course.holes+1) %}
            <th></th>
          {% end %}
          <th></th>
          <th></th>
        </tr>
        <tr id="median_row">
          <td></td>
          <td>Median:</td>
          {% for _ in range(1, course.holes+1) %}
            <th></th>
          {% end %}
          <th></th>
          <th></th>
        </tr>
        <tr id="mode_row">
          <td></td>
          <td>Mode:</td>
          {% for _ in range(1, course.holes+1) %}
            <th></th>
          {% end %}
          <th></th>
          <th></th>
        </tr>
        <tr id="avg_row">
          <td></td>
          <td>Avg:</td>
          {% for _ in range(1, course.holes+1) %}
            <th></th>
          {% end %}
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>

  </div>
{% end %}