{% extends esko_template.html %}

{% block title_block %}tulokset {{ course.name }}{% end %}

{% block head %}
  <script src={{static_url("data_tables.js")}}></script>
  <script src={{static_url("course.js")}}></script>
  <script type="text/javascript">

    window.onload = function() {
      game_times_table({{course.id}});
      rule_set_selector({{course.id}});
      ajax_get('/data/course/{{course.id}}/', handle_course_data);
    }

    function handle_course_data(json) {
      course = json;
      holes = json.holes_data;
      fill_image_link_list(course.images, 'course_image');
      course_data_table(course);
      build_result_table_head(holes);
      ajax_get('/data/course/{{course.id}}/results/', handle_results);
    }
  </script>
{% end %}

{% block body %}
  <h1><span id="course_name_span">{{ course.name }}</span>
    <button type="button" id="play_course_btn" href="/game/new/?course={{course.id}}" class="btn btn-info" {% if not course.playable %}disabled{% end %}>Pelaa</button>
    <a id="holes_data_toggle" class="btn btn-info" href="#" onclick="toggle_by_id('holes_info');">Väylien tiedot</a>
    <a id="update_holes_btn" class="btn btn-info" href="/course/{{course.id}}/update_holes">Muokkaa väylien tietoja</a>
    <a id="new_layout_btn" class="btn btn-info" href="/course/{{course.id}}/new_layout">Uusi layout</a>
    <a class="btn btn-info" href="/course/{{course.id}}/graph">Tuloskuvaaja</a>
    <a id="add_image_btn" class="btn btn-info" href="/data/course/{{course.id}}/upload_image/?redirect_to=/course/{{course.id}}/">Liitä kuva</a>
    {% if user and user.is_admin() %}
      <a id="add_image_btn" class="btn btn-danger" href="/course/{{course.id}}/close">Sulje rata</a>
    {% end %}
    <!-- <a class="btn btn-info" href="/hole_statistics/{{course.id}}/1/">Histogrammi</a> -->
    <!-- <a class="btn btn-info" href="/probabilities/{{course.id}}/par/">Tuloksen todennäköisyydet</a> -->
  </h1>
  <div><ul id="image_links"></ul></div>

  <div>
    <label for="rule_set_select">Säännöt</label>
    <select id="rule_set_select"></select>
  </div>


  <table class="table-condensed table-bordered">
    <tr>
      <th colspan="4">Peliajat:</th>
    </tr>
    <tr>
      <th>Pelaajia</th>
      <th>min</th>
      <th>keskiarvo</th>
      <th>max</th>
      <th>Kierroksia</th>
    </tr>
    <tbody id="game_times"></tbody>
  </table>

  <table id="holes_info" class="table table-bordered table-condensed"></table>

  <div id="table_div">
    <label for="date_filter">Filter date:</label>
    <input type="text" id="date_filter" oninput="filter();" value="{{selected_game_date}}" autocomplete="off">
    <label for="player_filter">Filter player:</label>
    <input type="text" id="player_filter" oninput="filter();" list="players" value="{{selected_player}}" autocomplete="off">

    <table id="results_table" class="sortable table table-striped table-bordered table-condensed">
      <thead id="result_head"></thead>
      <tbody id="tbody"></tbody>
      <tfoot id="footer">
        <tr id="min_row">
          <td></td>
          <td>Min:</td>
          {% for _ in range(1, course.holes+1) %}
            <th></th>
          {% end %}
          <th></th>
          <th></th>
        </tr>
        <tr id="median_row">
          <td></td>
          <td>Median:</td>
          {% for _ in range(1, course.holes+1) %}
            <th></th>
          {% end %}
          <th></th>
          <th></th>
        </tr>
        <tr id="mode_row">
          <td></td>
          <td>Mode:</td>
          {% for _ in range(1, course.holes+1) %}
            <th></th>
          {% end %}
          <th></th>
          <th></th>
        </tr>
        <tr id="avg_row">
          <td></td>
          <td>Avg:</td>
          {% for _ in range(1, course.holes+1) %}
            <th></th>
          {% end %}
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>

  </div>
{% end %}