{% extends esko_template.html %}

{% block head %}
  <script type="text/javascript">
    window.onload = function get_courses() {
      ajax_get('/data/courses/', fill_table);
    }

    function fill_table(json) {
      let courses = json.courses
      for (var i = 0; i < courses.length; i++) {
        let course = courses[i];
        let start_link = '';
        if (course.playable) {
          start_link = {'value': 'Pelaa', 'url': "/game/new/?course=" + course.id}
        }
        let rating = course_rating(course.holes, course.length, course.par);
        let best = ''
        if (course.best != null) {
          best = course.best.name + ' (' + course.best.result + ')';
        }
        let values = [
          start_link,
          {'value': course.name, 'url': "/course/" + course.id + "/"},
          course.holes,
          {'value': rating, 'custom_key': course_rating_ordering(rating)},
          course.length,
          course.par,
          best,
          course.avg_length,
          course.longest,
          course.town,
          course.version,
        ];
        append_row('course_table_body', values);
      }
      add_filters('course_table');
    }
  </script>
{% end %}


{% block body %}
  <table id="course_table" class="table sortable">
    <thead>
      <tr>
        <th></th>
        <th>Nimi</th>
        <th class="sorttable_numeric">Väyliä</th>
        <th class="sorttable_numeric">Luokitus</th>
        <th class="sorttable_numeric">Pituus</th>
        <th class="sorttable_numeric">par</th>
        <th>Ennätys</th>
        <th class="sorttable_numeric">Keskipituus</th>
        <th class="sorttable_numeric">Pisin</th>
        <th>Kaupunki</th>
        <th>version</th>
      </tr>
    </thead>
    <tbody id="course_table_body"></tbody>
  </table>
{% end %}
