<html>
  <head>
    <title>Esko - {% block title_block %}{% end %}</title>
    <link rel="stylesheet" type="text/css" href="{{static_url("style.css")}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src={{static_url("sorttable.js")}}></script>

    <meta charset="UTF-8">
    {% block head %}{% end %}
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">EsKon tulospalvelu</a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="/courses">Radat</a></li>
          {% if active_games %}
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Aktiiviset
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for active_game in active_games %}
                  <li><a href="/game/{{active_game.id}}/" title="{{active_game.start_time}}">{{course_name_dict[active_game.course]}} #{{active_game.game_of_day}}</a></li>
                {% end %}
              </ul>
            </li>
          {% end %}
          <li><a id="current_cup_btn" href="/eskocup/2018/">EsKo Cup</a></li>

          <li><a id="new_game_btn" href="/game/new/">Uusi peli</a></li>
          <li><a id="new_player_btn" href="/player/new">Uusi pelaaja</a></li>
          <li><a id="new_course_btn" href="/course/new/">Uusi rata</a></li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pelaaja-sivut
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for nav_player in all_players %}
                <li><a href="/player/{{nav_player.id}}/">{{nav_player.name}}</a></li>
              {% end %}
            </ul>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">EsKo Cups
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/eskocup/2018/">2018</a></li>
              <li><a href="/eskocup/2017/">2017</a></li>
            </ul>
          </li>
          {% if user and user.priviledges in ('hallitus', 'admin') %}
            <li><a href="/players">Pelaajat</a></li>
          {% end %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user %}
            <li id="logged_user">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.name}}
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/player/{{user.id}}/update">Change password</a></li>
              </ul>
            </li>
          {% else %}
            <li id="logged_user"><a href="/login">Login</a></li>
          {% end %}
        </ul>

      </div>
    </nav>

    <div id="page_body">
      {% block body %}{% end %}
    </div>


  </body>
</html>