{% extends esko_template.html %}

{% block title_block %}EsKo Cup 2019{% end %}

{% block head %}
  <script type="text/javascript">
    function see_game(course_id, date, player_name) {
      window.location.href = "/course/"+course_id+"/?game_date="+date+"&player="+encodeURI(player_name);
    }
    window.onload = function() {
      sorttable.innerSortFunction.apply(document.getElementById("cup_total"), []);
      sorttable.innerSortFunction.apply(document.getElementById("points_total"), []);
      sorttable.innerSortFunction.apply(document.getElementById("handicapped_total"), []);
      sorttable.innerSortFunction.apply(document.getElementById("first_stage_total"), []);
    }
  </script>
{% end %}

{% block body %}
  <h1>EsKo Cup 2019</h1>

  <div id="table_div">
    <table id="results_table" class="sortable table table-striped table-bordered table-condensed table-hover">
      <thead id="result_head">
        <tr>
          <th></th>
          {% for cup_course in cup_courses %}
            <th>{{cup_course.name}}</th>
          {% end  %}
          <th id="cup_total">Tulos</th>
        </tr>

      </thead>
      <tbody id="tbody">
        {% for player in players %}
          {% set total_res, sort_res = 0, 0 %}
          <tr>
            <th>{{player.name}}</th>
            {% for cup_course in cup_courses %}
              {% set res, date = results[(player.id, cup_course.id)] %}
              {% if res != 1000 %}
                {% set total_res, sort_res = total_res + res, sort_res + res %}
                <td onclick="see_game({{cup_course.id}}, '{{date}}', '{{player.name}}');">{{res}}</td>
              {% else %}
                {% set sort_res = sort_res + res %}
                <td sorttable_customkey="{{res}}">--</td>
              {% end %}
            {% end %}
            <td sorttable_customkey="{{sort_res}}">{{total_res}}</td>
          </tr>

        {% end %}
      </tbody>
    </table>

    <h2>Pisteet</h2>
    <table id="points_table" class="sortable table table-striped table-bordered table-condensed table-hover">
      <thead id="points_head">
        <tr>
          <th></th>
          {% for cup_course in cup_courses %}
            <th>{{cup_course.name}}</th>
          {% end  %}
          <th class="cup6">Vaihe 1</th>
          {% for cup_course in cup_courses %}
            <th>{{cup_course.name}}</th>
          {% end  %}
          <th class="cup6">Vaihe 2</th>
          <th id="points_total" class="cup5">Tulos</th>
        </tr>

      </thead>
      <tbody id="points_tbody">
        {% for player in players %}
          <tr>
            <th>{{player.name}}</th>
            {% set first_stage_points = 0 %}
            {% for cup_course in cup_courses %}
              {% set points = points_from_first_stage[(player.id, cup_course.id)] %}
              {% set first_stage_points += points %}
              {% set points_text = int(points) if points.is_integer() else "{0:.1f}".format(points) %}
              <td sorttable_customkey="-{{points_text}}">{{ points_text }}</td>
            {% end %}
            {% set first_stage_total = int(first_stage_points) if first_stage_points.is_integer() else "{0:.1f}".format(first_stage_points) %}
            <th sorttable_customkey="-{{first_stage_total}}">{{ first_stage_total }}</th>

            {% set second_stage_points = 0 %}
            {% for cup_course in cup_courses %}
              {% set points = points_from_second_stage[(player.id, cup_course.id)] %}
              {% set second_stage_points += points %}
              {% set points_text = int(points) if points.is_integer() else "{0:.1f}".format(points) %}
              <td sorttable_customkey="-{{points_text}}">{{ points_text }}</td>
            {% end %}
            {% set second_stage_total = int(second_stage_points) if second_stage_points.is_integer() else "{0:.1f}".format(second_stage_points) %}
            <th sorttable_customkey="-{{second_stage_total}}">{{ second_stage_total }}</th>

            {% set total_points = int(first_stage_points + second_stage_points) if (first_stage_points + second_stage_points).is_integer() else "{0:.1f}".format(first_stage_points + second_stage_points) %}
            <td sorttable_customkey="-{{total_points}}">{{ total_points }}</td>
          </tr>
        {% end %}
      </tbody>
    </table>

    <h2>Tasoitetut tulokset</h2>
    <table id="handicapped_table" class="sortable table table-striped table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          {% for cup_course in cup_courses %}
            <th>{{cup_course.name}}</th>
          {% end %}
          <th id="handicapped_total" class="cup5">Tulos</th>
        </tr>

      </thead>
      <tbody>
        {% for player in players %}
          {% set total = 0 %}
          {% set sorting_total = 0 %}
          <tr>
            <th>{{player.name}}</th>
            {% for cup_course in cup_courses %}
              {% set res, date = second_stage_results[(player.id, cup_course.id)] %}
              {% set handicap, _ = first_stage_results[(player.id, cup_course.id)] %}

              {% if handicap == 1000 %}
                {% set handicap = course_bests[cup_course.id] %}
              {% end %}

              {% if date %}
                {% set handicapped = res - handicap %}
                <td onclick="see_game({{cup_course.id}}, '{{date}}', '{{player.name}}');">{{handicapped}} ({{res}} {% if handicap < 0 %}+{{-handicap}}{% else %}-{{handicap}}{% end %})</td>
                {% set total += handicapped %}
                {% set sorting_total += handicapped %}
              {% else %}
                <td sorttable_customkey="1000"></td>
                {% set sorting_total += 1000 %}
              {% end %}
            {% end %}
            <td sorttable_customkey="{{sorting_total}}">{{total}}</td>
          </tr>
        {% end %}
      </tbody>
    </table>

    <h2>Ensimmäisen vaiheen tulokset</h2>
    <table id="handicaps_table" class="sortable table table-striped table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          {% for cup_course in cup_courses %}
            <th>{{cup_course.name}}</th>
          {% end %}
          <th id="first_stage_total" class="cup5">Tulos</th>
        </tr>

      </thead>
      <tbody>
        {% for player in players %}
          {% set total_res, sort_res = 0, 0 %}
          <tr>
            <th>{{player.name}}</th>
            {% for cup_course in cup_courses %}
              {% set res, date = first_stage_results[(player.id, cup_course.id)] %}
              {% if res != 1000 %}
                {% set total_res, sort_res = total_res + res, sort_res + res %}
                <td onclick="see_game({{cup_course.id}}, '{{date}}', '{{player.name}}');">{{res}}</td>
              {% else %}
                {% set sort_res = sort_res + res %}
                <td sorttable_customkey="{{res}}">--</td>
              {% end %}
            {% end %}
            <td sorttable_customkey="{{sort_res}}">{{total_res}}</td>
          </tr>

        {% end %}
      </tbody>
    </table>

  </div>

{% end %}