{% extends esko_template.html %}

{% block title_block %}Peli {{ course[0] }}{% end %}

{% block head %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(drawTables);

    function drawTables() {
      document.getElementById("loading_message").innerHTML = "Loading data, please wait."
      var pathArray = window.location.pathname.split('/');
      $.ajax({
        type: "POST",
        url: pathArray[0]+"/game/data/{{course[2]}}/",
        dataTableType: "json",
        success: handleDataTable,
        error: function(x, t, m) {
          document.getElementById("loading_message").innerHTML = "Error: failed to load the data"
        }
      });

      function handleDataTable(jsonData) {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Player');
        for (var i=1; i<=jsonData.course.holes; i++) {
          dataTable.addColumn('number', i);
        }
        dataTable.addColumn('number', 'sum');
        dataTable.addRows(jsonData.rows);
        dataTable.setProperty(0, 1, "className", "ParCell");
        dataTable.addColumn('number', '+');

        // Set par coloring
        // TODO Rethink
        // if (dataTable.getValue(0, 2) != null) {
        //   for (var row=1; row<dataTable.getNumberOfRows(); row++) {
        //     for (var col=2; col<dataTable.getNumberOfColumns()-2; col++) {
        //       var diff = dataTable.getValue(row, col)-dataTable.getValue(0, col);
        //       dataTable.setProperty(row, col, "className", "par"+diff);
        //     }
        //   }
        //   for (var row=1; row<dataTable.getNumberOfRows(); row++) {
        //     dataTable.setCell(row, dataTable.getNumberOfColumns()-1,
        //       dataTable.getValue(row, dataTable.getNumberOfColumns()-2)-dataTable.getValue(0, dataTable.getNumberOfColumns()-2)
        //     );
        //   }
        // }

        document.getElementById("loading_message").innerHTML = ""

        // Set chart options
        var table = new google.visualization.Table(document.getElementById('table_div'));

        var options = {
          showRowNumber: false,
          width: '100%',
          //height: '100%',
        }

        //sorting event
        google.visualization.events.addListener(table, 'sort', function (ev) {
          var parentRow = $('#table_div td.ParCell').parent();
          if (!parentRow.is(':first-child')) {
              parentRow.siblings().first().before(parentRow);
          }
          resetStyling('table_div');
        });

        table.draw(dataTable, options);

      }
    }
  </script>
{% end %}

{% block body %}
  <h1>{{ course[0] }}</h1>
  <p id="loading_message"></p>
  <div id="table_div"></div>
    <form method="post">
      <p>{{current_hole}}</p>
      <input type="hidden" name="hole" value="{{current_hole}}">
      {% for player in players %}
      <!-- TODO -->
        <input type="hidden" name="player" value="{{player[0]}}">
        <label for="throws">{{player[0]}}</label>
        <!-- <input type="number" name="throws" id="throws_input" value="3" min="1" max="36"> -->
        <select name="throws">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3" selected>3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <label for="throws">penalty</label>
        <input type="number" name="penalty" id="penalty_input" value="0" min="0" max="5">
        <br>
      {% end %}
      <input type="submit" value="Julkaise" method="POST">
    </form>
    <br>

  <a href="/game/end/{{course[2]}}/">End game</a>

{% end %}


