{% extends esko_template.html %}

{% block title_block %}Peli {{ course[0] }}{% end %}

{% block head %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(drawTables);
    var current_hole = {{current_hole}};
    var dataTable = null;

    function publish() {
      $.ajax({
        type: "POST",
        url: "/game/{{course[2]}}/",
        data: $("#results_form").serialize(),
        success: move_to_next,
        error: function(x, t, m) {
          document.getElementById("loading_message").innerHTML = "Error: failed to load the data"
        }
      });
      drawTables();

    }

    function end_game() {
      if (confirm("Haluatko varmasti lopettaa?")) {
        window.location.href = "/game/end/{{course[2]}}/";
      }
    };

    function move_to_next() {
      if (current_hole<{{course[1]}}) {
        current_hole++;
        document.getElementById("current_hole_input").value = current_hole;
        document.getElementById("current_hole_p").innerHTML = current_hole;
      }
      update_inputs();
    }

    function previous() {
      if (current_hole>1) {
        current_hole--;
        document.getElementById("current_hole_input").value = current_hole;
        document.getElementById("current_hole_p").innerHTML = current_hole;
      }
      update_inputs();
    }

    function update_inputs() {
      if (dataTable != null) {
        if (dataTable.getNumberOfRows()>1 && dataTable.getValue(1,current_hole) != null) {
          console.log("case 1");
          for (var row=1; row<dataTable.getNumberOfRows(); row++) {
            var player = dataTable.getValue(row,0);
            document.getElementById("throws_"+player).value = dataTable.getValue(row,current_hole);
            document.getElementById("penalty_"+player).value = "0";
          }
        }
        else if (dataTable.getValue(0,current_hole) != null) {
          console.log("case 2");
          var throw_inputs = document.getElementsByClassName("throws_input");
          var penalty_inputs = document.getElementsByClassName("penalty_input");
          var par = dataTable.getValue(0, current_hole).toString();
          for (var i=0; i<throw_inputs.length; i++) {
            throw_inputs[i].value = par;
            penalty_inputs[i].value = 0;
          }
        }
        else {
          console.log("case 3");
          var throw_inputs = document.getElementsByClassName("throws_input");
          var penalty_inputs = document.getElementsByClassName("penalty_input");
          for (var i=0; i<throw_inputs.length; i++) {
            throw_inputs[i].value = "3";
            penalty_inputs[i].value = 0;
          }
        }
      }
    }


    function drawTables() {
      document.getElementById("loading_message").innerHTML = "Loading data, please wait."
      var pathArray = window.location.pathname.split('/');
      $.ajax({
        type: "POST",
        url: pathArray[0]+"/game/data/{{course[2]}}/",
        dataTableType: "json",
        success: handleDataTable,
        error: function(x, t, m) {
          document.getElementById("loading_message").innerHTML = "Error: failed to load the data"
        }
      });

      function handleDataTable(jsonData) {
        dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Player');
        for (var i=1; i<=jsonData.course.holes; i++) {
          dataTable.addColumn('number', i);
        }
        dataTable.addColumn('number', 'sum');
        dataTable.addRows(jsonData.rows);
        dataTable.setProperty(0, 1, "className", "ParCell");
        dataTable.addColumn('number', '+');

        // Set par coloring
        if (dataTable.getValue(0, 2) != null) {
          for (var row=1; row<dataTable.getNumberOfRows(); row++) {
            var diff_sum = 0;
            var par;
            var result;
            for (var col=1; col<dataTable.getNumberOfColumns()-2; col++) {
              par = dataTable.getValue(0, col);
              result = dataTable.getValue(row, col);
              if (result) {
                var diff = result-par;
                dataTable.setProperty(row, col, "className", "par"+diff);
                diff_sum = diff_sum+diff;
              }

            }
            console.log(diff_sum);
            dataTable.setCell(row, dataTable.getNumberOfColumns()-1, diff_sum);
          }
        }

        document.getElementById("loading_message").innerHTML = ""

        // Set chart options
        var table = new google.visualization.Table(document.getElementById('table_div'));

        var options = {
          showRowNumber: false,
          width: '100%',
          //height: '100%',
        }

        //sorting event
        google.visualization.events.addListener(table, 'sort', function (ev) {
          var parentRow = $('#table_div td.ParCell').parent();
          if (!parentRow.is(':first-child')) {
              parentRow.siblings().first().before(parentRow);
          }
          resetStyling('table_div');
        });

        table.draw(dataTable, options);
      }
    }
  </script>
{% end %}

{% block body %}
  <h1>{{ course[0] }}</h1>
  <p id="loading_message"></p>
  <div id="table_div"></div>
    <form id="results_form" method="post">
      <h2 id="current_hole_p">{{current_hole}}</h2>
      <input id="current_hole_input" type="hidden" name="hole" value="{{current_hole}}">
      <table>

        {% for (player, ) in reversed(players) %}
        <tr>
          <div>
            <th>
              <input type="hidden" name="player" value="{{player}}">
              <h3>{{player}}</h3>
            </th>
            <td>
              <select id="throws_{{player}}" class="throws_input game_input" name="throws">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
              </select>
            </td>
            <td>
              <label for="throws">penalty</label>
              <select id="penalty_{{player}}" class="penalty_input game_input" name="penalty">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </td>
          </div>
        </tr>
        {% end %}
      </table>
      </form>
      <input class="game_input" id="previous_btn" type="button" value="Edellinen" onclick="previous();">
      <input class="game_input" id="publish_btn" type="button" value="julkaise" onclick="publish();">
      <input class="game_input" id="continue_btn" type="button" value="Jatka" onclick="move_to_next();">
    <br>
    <br>

  <button class="game_input" onclick="end_game();" >Lopeta peli</button>
  <!-- <a href="/game/end/{{course[2]}}/">End game</a> -->

{% end %}


