{% extends esko_template.html %}
{% block title_block %}Pelit{% end %}

{% block head %}

<script type="text/javascript">
  window.onload = function() {
    add_filters('game_table');
    console.log('Done');
  }
</script>
{% end %}

{% block body %}

<table id="game_table" class="sortable table table-bordered table-condensed table-hover">
  <tr>
    <th>Id</th>
    <th>Aktivinen</th>
    <th>Kesken</th>
    <th>Rata id</th>
    <th>Rata</th>
    <th>Aloitus</th>
    <th>#</th>
    <th></th>
    <th></th>
  </tr>
  {% for game in games %}
    <tr>
      <td>{{game.id}}</td>
      <td>{% if game.active %}yes{% end %}</td>
      <td>{% if game.unfinished %}yes{% end %}</td>
      <td>{{game.course}}</td>
      <td>{{course_name_dict[game.course]}}</td>
      <td>{{game.start_time}}</td>
      <td>{{game.game_of_day}}</td>
      <td><a href="/game/{{game.id}}/reactivate">Aktivoi</a></td>
      <td><a href="/game/{{game.id}}/change_course">Vaihda rataa</a></td>
    </tr>
  {% end %}
</table>

{% end %}
