{% extends esko_template.html %}

{% block title_block %}tulokset {{ course.name }}{% end %}

{% block head %}
  <script src={{static_url("game.js")}}></script>
  <script src={{static_url("data_tables.js")}}></script>

  <script type="text/javascript">
    var game = null;
    var players = null;
    var course = null;
    var holes = null;
    var current_hole = null;
    var previous_results = null;

    window.onload = function() {
      ajax_get('/data/course/{{course.id}}/', handle_course_data);
      ajax_get('/data/game/{{game.id}}/previous_results/', function (json) {previous_results = json;});
    }

    function handle_course_data(json) {
      course = json;
      holes = json.holes_data;
      fill_image_link_list(course.images, 'course_image');
      course_data_table(course);
      ajax_get('/data/game/{{game.id}}/', handle_game_data);
    }

    function handle_game_data(json) {
      game = json;
      players = game.players;
      build_result_table();
    }

  </script>
{% end %}

{% block body %}
  <h1>{{ course.name }}
    <a class="btn btn-info" href="#" onclick="toggle_by_id('holes_info');">Väylien tiedot</a>
    <a class="btn btn-info" href="#" onclick="add_hole_image()">Lisää väylä kartta</a>
  </h1>
  <p id="loading_message"></p>

  <div><ul id="image_links"></ul></div>

  <table id="holes_info" class="table table-bordered table-condensed" hidden></table>

  <div id="table_div">
    <table id="results_table" class="table table-striped table-bordered table-condensed table-hover">
      <thead id="result_head"></thead>
      <tbody id="result_body"></tbody>
    </table>
  </div>


  <p id="loading_message"></p>
  <form id="results_form">
    <h2 id="current_hole">#hole</h2>
    <table>
      {% set counter = -1 %}
      {% for player in players %}
      <tr>
        <input id="result_{{counter = counter + 1}}" type="text" name="result" value="" hidden>
        <div>
          <th>
            <input type="text" name="player" value="{{player.id}}" hidden>
            <h3>{{player.name}}</h3>
          </th>
          <td>
            <table class="previous_res_table">
              <tr>
                <td id="previous_avg_{{counter}}"></td>
                <td id="previous_min_{{counter}}"></td>
              </tr>
            </table>
          </td>

          <td>
            <select id="throws_{{counter}}" class="throws_input game_input" name="throws">
              <option value="">--</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3" selected>3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">kysi</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
            </select>
          </td>
          <td>
            <label for="penalty_{{counter}}">penalty</label>
            <select id="penalty_{{counter}}" class="penalty_input game_input" name="penalty">
              <option value="0" selected>0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>
          <td>
            <label for="approaches_{{counter}}">approaches</label>
            <select id="approaches_{{counter}}" class="throws_input game_input" name="approaches">
              <option value="" selected="">-</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>
          <td>
            <label for="puts_{{counter}}">puts</label>
            <select id="puts_{{counter}}" class="penalty_input game_input" name="puts">
              <option value="" selected>-</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>
        </div>
      </tr>
      {% end %}
    </table>
    <input class="game_input" id="previous_btn" type="button" value="Edellinen" onclick="previous();">
    <input class="game_input" id="publish_btn" type="button" value="julkaise" onclick="publish();">
    <input class="game_input" id="continue_btn" type="button" value="Jatka" onclick="next();">
    <br>
    <br>
  </form>
  <button id="end_game_btn" class="game_input" onclick="end_game();">Lopeta peli</button>
</div>
{% end %}