{% extends esko_template.html %}
{% block head %}
  <script type="text/javascript">
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function toggleDropDown(dropdown_name) {
    document.getElementById(dropdown_name).classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
{% end %}
{% block body %}

  <H1>Eskon tulospalvelu</H1>
  <!-- <img id="logo" src="http://maunula.net/2005/luonto/palokarki.jpg"> -->

  <table id="recent_results_table">
    <tr>
      <th colspan="6">Viimeisimmät pelit:</th>
    </tr>
    <tr>
      <th>päivämäärä</th>
      <th>#</th>
      <th>rata</th>
      <th>pelaaja</th>
      <th>tulos</th>
      <th>par</th>
    </tr>
    {% for game_date, game_of_day, course_name, player, res, par in latest %}
      <tr>
        <td>{{game_date}}</td>
        <td>{{game_of_day}}</td>
        <td>{{course_name}}</td>
        <td>{{player}}</td>
        <td>{{res}}</td>
        <td>{{par}}</td>
      </tr>
    {% end %}
  </table>



{% end %}

