{% extends esko_template.html %}
{% block head %}
  <script type="text/javascript">
  function see_game_day(course_id, game_date) {
    window.location.href = "/course/"+course_id+"/?game_date="+encodeURI(game_date);
  }

  function see_player(course_id, player) {
    window.location.href = "/course/"+course_id+"/?player="+encodeURI(player);
  }

  function see_course(course_id) {
    window.location.href = "/course/"+course_id+"/";
  }

  function see_game(game_id) {
    window.location.href = "/game/"+game_id+"/";
  }

  </script>
{% end %}
{% block body %}

  <H1>Eskon tulospalvelu</H1>

  {% if active_results %}
    <table id="recent_results_table" class="">
      <tr>
        <th colspan="6">Käynnissä olevat pelit:</th>
      </tr>
      <tr>
        <th>päivämäärä</th>
        <th>#</th>
        <th>rata</th>
        <th>pelaaja</th>
        <th>tulos</th>
        <th>par</th>
        <th>pelattu</th>
      </tr>
      {% set prev_course = None %}
      {% set prev_game_date = None %}
      {% set prev_game_of_day = None %}
      {% set current_color = True %}
      {% for game_date, game_of_day, game_id, course_name, player_name, res, par, holes_played, holes in active_results %}
        <tr onclick="see_game({{game_id}})" class="{% if prev_game_date != game_date or prev_game_of_day != game_of_day or prev_course != course_name%}{{current_color = not current_color}}{% else %}{{current_color}}{% end %}">
          <td>{{str(game_date)[:10]}}</td>
          {% set prev_game_date = game_date %}
          <td>{{prev_game_of_day = game_of_day}}</td>
          <td>{{prev_course = course_name}}</td>
          <td>{{player_name}}</td>
          <td>{{res}}</td>
          <td>{{par}}</td>
          <td>{{holes_played}}/{{holes}}</td>
        </tr>
      {% end %}
    </table>
  {% end %}

  <table id="recent_results_table" class="">
    <tr>
      <th colspan="6">Viimeisimmät pelit:</th>
    </tr>
    <tr>
      <th>päivämäärä</th>
      <th>#</th>
      <th>rata</th>
      <th>pelaaja</th>
      <th>tulos</th>
      <th>par</th>
    </tr>
    {% set prev_course = None %}
    {% set prev_game_date = None %}
    {% set prev_game_of_day = None %}
    {% set current_color = True %}
    {% for game_date, game_of_day, course_name, course_id, player_name, player, res, par in latest %}
      <tr class="{% if prev_game_date != game_date or prev_game_of_day != game_of_day or prev_course != course_name%}{{current_color = not current_color}}{% else %}{{current_color}}{% end %}">
        <td onclick="see_game_day({{course_id}},'{{str(game_date)[:10]}}');">{{str(game_date)[:10]}}</td>
        {% set prev_game_date = game_date %}
        <td onclick="see_game_day({{course_id}},'{{str(game_date)[:10]}}');">{{prev_game_of_day = game_of_day}}</td>
        <td onclick="see_course({{course_id}});">{{prev_course = course_name}}</td>
        <td onclick="see_player({{course_id}},'{{player_name}}');">{{player_name}}</td>
        <td class="{% if bests[course_id] == res %}esko_best{% elif bests[(course_id, player)] == res %}personal_best{% end %} {% if bests[(course_id, current_season)] == res %}season_best{% elif bests[(course_id, player,current_season)] == res %}season_personal_best{% end %}" title="{% if bests[course_id] == res %}Esko best{% elif bests[(course_id, player)] == res %}Personal best{% end %}{% if bests[(course_id, current_season)] == res %} - Season best{% elif bests[(course_id, player,current_season)] == res %} - Personal Season Best{% end %}">{{res}}</td>
        <td class="{% if bests[course_id] == res %}esko_best{% elif bests[(course_id, player)] == res %}personal_best{% end %} {% if bests[(course_id, current_season)] == res %}season_best{% elif bests[(course_id, player,current_season)] == res %}season_personal_best{% end %}" title="{% if bests[course_id] == res %}Esko best{% elif bests[(course_id, player)] == res %}Personal best{% end %}{% if bests[(course_id, current_season)] == res %} - Season best{% elif bests[(course_id, player,current_season)] == res %} - Personal Season Best{% end %}">{{par}}</td>
      </tr>
    {% end %}
  </table>



{% end %}

