{% extends esko_template.html %}

{% block title_block %}Uusi peli{% end %}

{% block body %}
  <p class="error_message">{{message}}</p>
  <form method="post">
    <label class="game_input" for="course">Radan nimi</label>
    <select name="course">
      <option value="">---</option>
      {% for course in courses %}
        {% if course[2] == chosen_course %}
          <option value="{{course[2]}}" selected>{{course[0]}} - {{course[1]}}</option>
        {% else %}
          <option value="{{course[2]}}">{{course[0]}} - {{course[1]}}</option>
        {% end %}
      {% end %}
    </select>
    <br>

    <label for="player">Pelaajat</label>
    <div>
      {% for player in players %}
        {% if player[0] in chosen_players %}
          <input class="player_cb" type="checkbox" name="player" value="{{player[0]}}" checked>
        {% else %}
          <input class="player_cb" type="checkbox" name="player" value="{{player[0]}}">
        {% end %}
        {{player[0]}}<br>
      {% end %}
    </div>

    <input class="game_input" type="submit" value="Aloita" method="POST">
  </form>
{% end %}
