{% extends esko_template.html %}

{% block title_block %}Uusi peli{% end %}

{% block body %}
  <p class="error_message">{{message}}</p>
  <form method="post">
    <label class="game_input" for="course">Radan nimi</label>
    <select name="course">
      {% for course in courses %}
      <option value="{{course[2]}}">{{course[0]}} - {{course[1]}}</option>
      {% end %}
    </select>
    <br>

    <label for="player">Pelaajat</label>
    <div>
      {% for player in players %}
      <input class="player_cb" type="checkbox" name="player" value="{{player[0]}}"> {{player[0]}}<br>
      {% end %}
    </div>

    <input type="submit" value="Aloita" method="POST">
  </form>
{% end %}
