{% extends esko_template.html %}

{% block title_block %}Uusi peli{% end %}

{% block body %}
  <p class="error_message">{{message}}</p>
  <form method="post">
    <label for="coure_select">Rata: </label>
    <select id="coure_select" class="game_input" name="course">
      <option value="">---</option>
      {% for course in courses %}
        <option value="{{course.id}}"
        {% if chosen_course and course.id == int(chosen_course) %}selected{% end %}>{{course.name}} - {{course.holes}}</option>
      {% end %}
    </select>
    <br>

    <label for="player">Pelaajat</label>
    <div>
      {% for player in all_players %}
        <input id="cb_{{player.id}}" class="player_cb" type="checkbox" name="player" value="{{player.id}}"
        {% if str(player.id) in chosen_players %}checked{% end %}
        {% if player.active %}disabled{% end %}>
        <label class="{% if player.active %}disabled{% end %}" for="cb_{{player.id}}">{{player.name}}</label><br>
      {% end %}
    </div>

    <div>
      <label for="special_rule_select">Erikoissäännöt</label>
      <select id="special_rule_select" name="special_rules">
        <option value="">--</option>
        {% for rule_set in rule_sets %}
          <option value="{{rule_set.id}}">{{rule_set.name}}</option>
        {% end %}
      </select>
    </div>

    <input id="start_game_btn" class="game_input" type="submit" value="Aloita" method="POST">
  </form>
{% end %}
