{% extends esko_template.html %}
{% block title_block %}Radan väylät{% end %}

{% block head %}
  <script src={{static_url("holes.js")}}></script>
  <script type="text/javascript">
  function toggle(field, hole) {
    document.getElementById(field+'_hidden_input'+hole).value = document.getElementById(field+'_input'+hole).checked;
  }
  var holes = null;

  window.onload = function() {
    ajax_get('/data/course/{{course.id}}/holes/', build_hole_input_form);
  }
  </script>
{% end %}

{% block body %}

  <p class="error_message">{{message}}</p>
  <form method="post">
    <div id="holes_form"></div>
    <input type="submit" value="Submit" method="POST">
  </form>
{% end %}
