<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Upload image linked to {{linked_to}}</title>
</head>
<body>
  <h2>Upload image linked to {{linked_to}}</h2>
  <form enctype="multipart/form-data" method="post">
  File: <input id="file_input" type="file" name="filearg" required/>
  <br />
  <textarea name="description">{{default_desc}}</textarea>
  <input type="text" name="redirect_to" value="{{redirect_to}}" hidden>
  <br />
  <p>{{message}}</p>
  <input type="submit" value="upload" />
</form>